In [1]:
MyFirstList = [3, 45, 56, 732]

In [2]:
MyFirstList

[3, 45, 56, 732]

In [3]:
type(MyFirstList)

list

In [4]:
l2 = ["hello", 24, True, 55.3]

In [5]:
l2

['hello', 24, True, 55.3]

In [6]:
# List of a list 
l3 = ['how are you?', 55, [MyFirstList]]

In [7]:
l3

['how are you?', 55, [[3, 45, 56, 732]]]

In [8]:
# ----

In [9]:
# Python 3 -  this is the same as xrange() in Python 2
# Creates an generator object 
# Still have the values when you need them, but won't store them in memory
range(15)

range(0, 15)

In [10]:
# If you want the actual list, have to pass it to the list function
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
x = [1,2,3,4,5,6,7]

In [12]:
# One parameter - stop index (not inclusive)
y = list(range(8))

In [13]:
y

[0, 1, 2, 3, 4, 5, 6, 7]

In [14]:
# Specify two values - start index, stop index (not inclusive)
z = list(range(1,8))

In [15]:
z

[1, 2, 3, 4, 5, 6, 7]

In [16]:
z2 = list(range(100,120))

In [17]:
z2

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119]

In [18]:
# Three parameters - start index, stop index (not inclusive), step 
# Default step is 1 (incremented by 1)
w = list(range(100,111,2))

In [19]:
w

[100, 102, 104, 106, 108, 110]

In [20]:
w2 = list(range(100,201,10))

In [21]:
w2

[100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [22]:
w = ['a','b','c','d','e']

In [ ]:
#################### Using the [] Brackets ####################

In [23]:
w

['a', 'b', 'c', 'd', 'e']

In [24]:
# Starting element
w[0]

'a'

In [25]:
w[1]

'b'

In [26]:
w[2]

'c'

In [27]:
# Number of elements in a list 
len(w)

5

In [28]:
w[4]

'e'

In [29]:
w

['a', 'b', 'c', 'd', 'e']

In [30]:
# 0    1    2    3    4

In [31]:
#  -5    -4     -3    -2     -1

# Last element is -1
# There is no such thing as -0

In [32]:
w[-1] # different behaviour to R (this would exclude the first element instead)

'e'

In [33]:
w[-3]

'c'

In [34]:
w[2]

'c'

In [35]:
# Overwrite values:

In [36]:
w

['a', 'b', 'c', 'd', 'e']

In [37]:
w[2] = 63

In [38]:
w

['a', 'b', 63, 'd', 'e']

In [39]:
# lygometry 
# Measuring what we don't know
# Learning by understanding what we don't know

In [ ]:
#################### Slicing ####################

In [40]:
letters = ['A', 'B', 'C','D','E','F','G','H','I','J']

In [41]:
letters

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [42]:
# Slice full list 
letters [ : ]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [43]:
letters[:]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [44]:
# Slice to the end 
letters[2:]

['C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [45]:
# Slice from the beginning 
letters[:7]

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [47]:
# Slice start, stop index
letters[2:7]

['C', 'D', 'E', 'F', 'G']

In [48]:
# Negative indexation
# Same result as letters[2:7] 
letters[-8:7]

['C', 'D', 'E', 'F', 'G']

In [49]:
# Replace both with negative indexes
# Same result again
letters[-8:-3]

['C', 'D', 'E', 'F', 'G']

In [50]:
# ---- Advanced Slicing

In [51]:
letters[2:9]

['C', 'D', 'E', 'F', 'G', 'H', 'I']

In [52]:
# Step 
letters[2:9:2]

['C', 'E', 'G', 'I']

In [53]:
letters

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [54]:
# Slice from start to finish in step of 3
letters[::3]

['A', 'D', 'G', 'J']

---

In [ ]:
################ Tuples in Python #############

In [55]:
# Negative step, list is reversed
# Slice full list backwards
letters[::-1]

['J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [57]:
letters[2:7:1]

['C', 'D', 'E', 'F', 'G']

In [59]:
# Get nothing because you can't go from item 2 to item 7 with a step of -1
# Because step -1 you'll go backwards/to the left, you'll never get to 7
letters[2:7:-1]

[]

In [61]:
# So if you want to use negative indexation 
# The start and stop indexes have to be reversed
# Because you can only move to the left with negative indexes
letters[6:1:-1]

['G', 'F', 'E', 'D', 'C']

In [62]:
# Tuple = immutable list (sequence of values)

In [63]:
t1 = (345, 694, 934)

In [64]:
t1

(345, 694, 934)

In [65]:
# Can still access the elements in the same way
t1[1]

694

In [66]:
# Only difference is tuples are immutable, you cannot change it 
# Will get an error if you try to change it 
t1[1] = 45

TypeError: 'tuple' object does not support item assignment

In [67]:
t1[1]

694