___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
# Use underscores to chain together multiple words
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
# No longer have the out indicator
# No quotes around it anymore
print(x)

hello

In [18]:
num = 12
name = 'Sam'

In [19]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [20]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [21]:
s = 'abcdefghijk'

In [22]:
# String indexing
s[0:]

'abcdefghijk'

In [23]:
# String slicing 
s[0:3]

'abc'

In [24]:
s[3:6]

'def'

### Lists

In [25]:
# Lists are a sequence of elements in a set of square brackets separated by commas
[1,2,3]

[1, 2, 3]

In [26]:
# Nested lists 
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [27]:
my_list = ['a','b','c']

In [28]:
# Add elements to a list
my_list.append('d')

In [29]:
my_list

['a', 'b', 'c', 'd']

In [30]:
# List indexing
my_list[0]

'a'

In [31]:
my_list[1]

'b'

In [32]:
# List slicing 
my_list[1:]

['b', 'c', 'd']

In [33]:
my_list[:1]

['a']

In [34]:
# Item assigment 
my_list[0] = 'NEW'

In [35]:
my_list

['NEW', 'b', 'c', 'd']

In [36]:
# Nested lists 
nest = [1,2,3,[4,5,['target']]]

In [37]:
nest[3]

[4, 5, ['target']]

In [38]:
nest[3][2]

['target']

In [39]:
nest[3][2][0]

'target'

### Dictionaries

In [40]:
d = {'key1':'item1','key2':'item2'}

In [41]:
d = {'key1':'value','key2':'123'}

In [42]:
d

{'key1': 'value', 'key2': '123'}

In [43]:
d['key1']

'value'

In [44]:
d['key2']

'123'

In [45]:
d = {'k1':[1,2,3]}

In [46]:
d['k1']

[1, 2, 3]

In [47]:
my_list = d['k1']

In [48]:
my_list[0]

1

In [49]:
d['k1'][0]

1

In [50]:
# Dictionary within a dictionary 
d = {'k1':{'innerkey':[1,2,3]}}

In [51]:
d['k1']

{'innerkey': [1, 2, 3]}

In [52]:
d['k1']['innerkey'][1]

2

### Booleans

In [53]:
True

True

In [54]:
False

False

### Tuples

In [55]:
# Tuples are similar to lists, but instead of square brackets use parenthesis
t = (1,2,3)

In [56]:
# Can grab items from a tuple like you would for a list, using index notation
t[0]

1

In [57]:
# Tuples are IMMUTABLE meaning you  cannot mutate items inside a tuple
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [58]:
# A set is a collection of unique elements
# Sets look like dictionaries with curly braces, but no colon just elements 
{1,2,3}

{1, 2, 3}

In [59]:
# Gives same output as above because a set is defined by unique elemenets
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [60]:
# Pass in a list to the set function to get unique elements
set([1,1,1,1,2,2,2,5,5,5,6,6,6])

{1, 2, 5, 6}

In [61]:
# Add elements to set
s = {1,2,3} 
s.add(5)
s

{1, 2, 3, 5}

In [62]:
# Try to add 5 again, it won't throw an error but will keep the set the same
# Only 1 unique instance of this value is allowed in the set 
s.add(5)

## Comparison Operators

In [63]:
# Comparison operators allow you to compare two elements to each other 
# Returns a Boolean value True or False
1 > 2

False

In [64]:
# Can compare numbers 
1 < 2

True

In [65]:
1 >= 1

True

In [66]:
1 <= 4

True

In [67]:
1 == 1

True

In [68]:
# Can also compare strings
'hi' == 'bye'

False

## Logic Operators

In [69]:
# Combine comparison operators with logic operators to compare multiple statements/conditions
# And return a single Boolean value True or False
# Wrap parenthesis around each condition statement to make it more readable
(1 > 2) and (2 < 3)

False

In [70]:
(1 > 2) or (2 < 3)

True

In [71]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [72]:
if 1 < 2:
    print('Yep!')

Yep!

In [73]:
if 1 < 2:
    print('yep!')

yep!

In [74]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [75]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [76]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [77]:
# Can check as many conditions as you want
# Will only execute the first condition it comes across that is True 
# Executes the first True condition and that's it 
if 1 == 2:
    print('first')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('Last')

second

## for Loops

In [78]:
seq = [1,2,3,4,5]

In [79]:
# Perform an action or execute block of code for every item in a sequence 
for item in seq:
    print(item)

1
2
3
4
5

In [80]:
# Block of code doesn't have to be related to the item in the sequence
# Can do anything you want
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [81]:
# Temporary variable name you use can be whatever name you want
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [82]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [83]:
# Range object is a generator
range(5)

range(0, 5)

In [84]:
for i in range(5):
    print(i)

0
1
2
3
4

In [85]:
# Pass range object to a list to get an actual list 
list(range(5))

[0, 1, 2, 3, 4]

In [86]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## list comprehension

In [87]:
x = [1,2,3,4]

In [88]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [89]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [90]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [91]:
my_func

In [92]:
my_func()

default

In [93]:
my_func('new param')

new param

In [94]:
my_func(param1='new param')

new param

In [95]:
# Return is different from printing 
def square(x):
    return x**2

In [96]:
out = square(2)

In [97]:
print(out)

4

In [98]:
# Create a function 
def my_func(name = 'Default Name'):
    print('Hello ' + name)

In [99]:
# Call function passing positional argument
my_func('Stephanie')

Hello Stephanie

In [100]:
# Call function Passing keyword argument
my_func(name = 'Stephanie')

Hello Stephanie

In [101]:
# Call function with no arguments uses default parameter 
my_func()

Hello Default Name

In [102]:
# Have to use parentehsis to call the function
# If you type without parenthesis, justs asks Python what the object is 
my_func

In [103]:
# Documentation strings
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER. 
    """
    return num**2

In [104]:
# In Jupyter Notebook, type function name then  SHIFT + TAB
# Will get a "signature" call of the actual function meaning what the function expects to receive
# Expand to get the Documentation String
# Useful for your functions and also built-in functions
square

## lambda expressions

In [105]:
# Function syntax 
def times2(var):
    return var*2

In [106]:
times2(2)

4

In [107]:
# Lamda expression is a way of re-writing an entire function into a single line of clean code
# Function be written on one-line: def times2(var): return var*2

# Then lamda expression will replicate this but remove words we don't need: def and return 
# lamda expressions are otherwise known as an "anonymous functions"
# Don't need to define anything so take out "def"
# Replace with the keyword "lambda" 
# Don't need the "return" keyword, just type out what you want to return 

# Could assign the lamda function to variable and call it 
# But would't usually use lambdas like this 
t = lambda var: var*2
t(6)

12

In [108]:
# Usually use lamda expressions in combination with the map() function
# Reason for lamda expessions is usually don't want to have to write and define and entire function (But this is always still an option) 
# Instead of having to define an entire function formally just type in a lambda expression

seq = [1,2,3,4,5]
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [109]:
t = lambda var: var*2;t(6)

12

## map and filter

In [110]:
######### map() #########
seq = [1,2,3,4,5]

In [111]:
# Use map() to apply function to every element in the list then output the list
# Could use a for loop and append the results to another list
# But map() is a built-in function in Python that allows you to save that step  
map(times2,seq)

In [112]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [113]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [114]:
######### filter() #########
# Very similar structure to map() 
#  Instead of mapping a function to every element of sequence 
# Filters out elements from a sequence

# Call filter()
# Pass in a function or a lamda expression that returns boolean values
# And also pass it an iterable object
# Returns the filter expression
filter(lambda item: item%2 == 0,seq)

In [115]:
# Pass it to the list function to actually get back the result 
# Returns values where statement is True
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [116]:
########## String Methods ########## 
st = 'hello my name is Sam'

In [117]:
st.lower()

'hello my name is sam'

In [118]:
st.upper()

'HELLO MY NAME IS SAM'

In [119]:
# Default is to split a string by white space
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [120]:
tweet = 'Go Sports! #Sports'

In [121]:
# Can specify character to split by 
tweet.split('#')

['Go Sports! ', 'Sports']

In [122]:
tweet.split('#')[1]

'Sports'

In [123]:
########## Dictionary Methods ########## 
d = {'k1': 1, 'k2': 2}

In [124]:
d.keys()

dict_keys(['k1', 'k2'])

In [125]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [126]:
d.values()

dict_values([1, 2])

In [127]:
########## Dictionary Methods ########## 
lst = [1,2,3]

In [128]:
# "Pop" list item off a list 
lst.pop()

3

In [129]:
# When you call a list that change is permament 
lst

[1, 2]

In [130]:
# Can pass in an index value
first = lst.pop(0)

In [131]:
lst

[2]

In [132]:
# The variable is now element we "popped" off 
first

1

In [133]:
# Append to a list 
lst.append('new')

In [134]:
lst

[2, 'new']

In [135]:
########## The in operator ##########
# Check if something is inside of a list

# Syntax 
# Thing you want to check
# The "in" keyword
# Then the list itself 
'x' in [1,2,3]

False

In [136]:
'x' in ['x','y','z']

True

In [137]:
########## Tuple Unpacking ##########
# Instead of printing the tuple as one item 
x = [(1,2), (3,4), (5,6)]

for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [138]:
# Tuple unpacking allows you to unpack these tuples
# And print the individual items of the tuple 
# The parenthesis are a formality  

for (a,b) in x:
    print(a)   
    print(b)

# Will see tuple unpacking like this in the real world  
for a,b in x:
    print(a)   
    print(b)

1
2
3
4
5
6
1
2
3
4
5
6

# Great Job!